{%- for product in collection.products -%}
  <form class="builder__form">
    <hr>
    <p>
      <strong>{{ forloop.index }}. {{ product.title }}</strong>
    </p>
    {%- for value in product.options_with_values[0].values -%}
      {%- assign variants = product.variants | where: 'option1', value -%}
      {% if variants.size > 1 %}
        <input
          type="radio"
          id="{{ product.id }}-{{ value }}"
          data-value="{{ value | escape }}"
          data-3d-class="{{ class }}{{ product.type }}"
          name="{{ product.id }}-{{ product.options_with_values[0].name }}"
          value="{{ value }}"
          {% if forloop.index0 == 0 %}
            checked
          {% endif %}
          class="{% if product.options_with_values[0].name == 'Color' %} input--color{% endif %}"
          {% if product.options_with_values[0].name == 'Color' %}
            style="background-color: var(--{{ value | downcase }});"
          {% endif %}
        >
        <label for="{{ product.id }}-{{ value }}">{{ value }}</label>
        <fieldset>
          <br>
          <p>
            <strong>{{ product.options_with_values[1].name }}</strong>
          </p>
          {%- for variant in variants -%}
            <input
              type="radio"
              {% if forloop.index0 == 0 %}
                checked
              {% endif %}
              id="{{ product.id }}-{{ variant.id }}"
              name="items[{{ product.id }}][id]"
              value="{{ variant.id }}"
              form="pole-builder"
            >
            <label for="{{ product.id }}-{{ variant.id }}">{{ variant.option2 | replace: 'cm', '' }}</label>
            {% comment %} {{ variant.id }} {% endcomment %}
          {%- endfor -%}
        </fieldset>
      {%- else -%}
        <input
          type="radio"
          {% if forloop.index0 == 0 %}
            checked
          {% endif %}
          id="{{ product.id }}-{{ variants[0].id }}"
          data-value="{{ value | escape }}"
          data-3d-class="{{ class }}{{ product.type }}"
          name="items[{{ product.id }}][id]"
          value="{{ variants[0].id }}"
          form="pole-builder"
          class="{% if product.options_with_values[0].name == 'Color' %} input--color{% endif %}"
          {% if product.options_with_values[0].name == 'Color' %}
            style="background-color: var(--{{ value | downcase }});"
          {% endif %}
        >
        <label for="{{ product.id }}-{{ variants[0].id }}">{{ value }}</label>
      {%- endif -%}
    {%- endfor -%}
  </form>
{%- endfor -%}
