{% comment %}
  Renders product variant options

  Accepts:
  - product: {Object} product object.
  - option: {Object} current product_option object.
  - block: {Object} block object.


  Usage:
  {% render 'product-variant-options',
    product: product,
    option: option,
    block: block
  %}
{% endcomment %}
{%- liquid
  assign variants_available_arr = product.variants | map: 'available'
  assign variants_option1_arr = product.variants | map: 'option1'
  assign variants_option2_arr = product.variants | map: 'option2'
  assign variants_option3_arr = product.variants | map: 'option3'
-%}

{%- for value in option.values -%}
  {%- liquid
    assign option_disabled = true

    for option1_name in variants_option1_arr
      case option.position
        when 1
          if variants_option1_arr[forloop.index0] == value and variants_available_arr[forloop.index0]
            assign option_disabled = false
          endif
        when 2
          if option1_name == product.selected_or_first_available_variant.option1 and variants_option2_arr[forloop.index0] == value and variants_available_arr[forloop.index0]
            assign option_disabled = false
          endif
        when 3
          if option1_name == product.selected_or_first_available_variant.option1 and variants_option2_arr[forloop.index0] == product.selected_or_first_available_variant.option2 and variants_option3_arr[forloop.index0] == value and variants_available_arr[forloop.index0]
            assign option_disabled = false
          endif
      endcase
    endfor
  -%}

  <input
    type="radio"
    id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
    name="{% if form_id %}{{form_id}}-{{ product.id }}-{{ option.name }}{% else %}{{ option.name }}{% endif %}"
    value="{{ value | escape }}"
    data-value="{{ value | escape }}"
    form="{{ form_id }}"
    {% if option.selected_value == value %}
      checked
    {% endif %}
    class="{% if option_disabled %}disabled{% endif %}{% if option.name == 'Color' %} product-form__input--color{% endif %}"
    {% if option.name == 'Color' %}
      style="background-color: var(--{{ value | downcase }});background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2221%22%20height%3D%2221%22%20viewBox%3D%220%200%2021%2021%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Crect%20x%3D%221.33008%22%20y%3D%221.42822%22%20width%3D%2218%22%20height%3D%2218%22%20rx%3D%229%22%20stroke%3D%22%23E1E1E1%22%20stroke-width%3D%222%22%2F%3E%0A%3Crect%20x%3D%220.330078%22%20y%3D%220.427979%22%20width%3D%2220%22%20height%3D%2220%22%20rx%3D%2210%22%20fill%3D%22black%22%2F%3E%0A%3Cg%20clip-path%3D%22url(%23clip0_1961_634)%22%3E%0A%3Cpath%20d%3D%22M14.8771%205.59092C14.4171%205.28992%2013.7951%205.41892%2013.4931%205.88092L8.97307%2012.7939L7.07307%2010.6829C6.70407%2010.2729%206.07207%2010.2379%205.66107%2010.6089C5.25007%2010.9779%205.21707%2011.6109%205.58707%2012.0209L8.35607%2015.0979C8.54607%2015.3089%208.81707%2015.4279%209.09907%2015.4279C9.12407%2015.4279%209.15007%2015.4269%209.17607%2015.4249C9.48607%2015.4019%209.76607%2015.2349%209.93607%2014.9749L15.1671%206.97492C15.4701%206.51292%2015.3401%205.89292%2014.8771%205.59092Z%22%20fill%3D%22white%22%2F%3E%0A%3C%2Fg%3E%0A%3Cdefs%3E%0A%3CclipPath%20id%3D%22clip0_1961_634%22%3E%0A%3Crect%20width%3D%2220%22%20height%3D%2220%22%20fill%3D%22white%22%20transform%3D%22translate(0.330078%200.427979)%22%2F%3E%0A%3C%2FclipPath%3E%0A%3C%2Fdefs%3E%0A%3C%2Fsvg%3E%0A');"
    {% endif %}
  >
  <label for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}">
    {{ value -}}
    <span class="visually-hidden">{{ 'products.product.variant_sold_out_or_unavailable' | t }}</span>
  </label>
{%- endfor -%}
