<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">

    {% comment %}
       {%- if settings.favicon != blank -%}
        <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
      {%- endif -%}

      {%- unless settings.type_header_font.system? -%}
        <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
      {%- endunless -%}
    {% endcomment %}

    <title>{{ shop.name }}</title>

    <meta name="description" content="{{ page_description | escape }}">

    {% render 'meta-tags' %}

    {{ content_for_header }}

    {{ '0.variables.css' | asset_url | stylesheet_tag }}
    {{ '1.base.css' | asset_url | stylesheet_tag }}
    {{ '1.text.css' | asset_url | stylesheet_tag }}
    {{ '1.animations.css' | asset_url | stylesheet_tag }}
    {{ '1.inputs.css' | asset_url | stylesheet_tag }}
    {{ '2.header.css' | asset_url | stylesheet_tag }}
    {{ '3.password.css' | asset_url | stylesheet_tag }}

    <script>
      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
    </script>
    <script src="{{ 'script.js' | asset_url }}" defer="defer"></script>
  </head>

  <body class="password">
    {% comment %}
       <a class="visually-hidden" href="#main">
        {{ 'accessibility.skip_to_text' | t }}
      </a>
    {% endcomment %}

    <header class="header">{% render 'logo' %}</header>

    <main id="main" class="password-main">
      {{ content_for_layout }}
    </main>

    <figure class="background">
      <video
        autoplay
        muted
        loop
        playsinline
        src="{{ '407376_Snow_Ski_Resort_People_Skiing_By_Kristian_Ozer_Kettner_Artlist_HD.mp4' | asset_url }}"
      ></video>
    </figure>

    <ul hidden>
      <li id="a11y-new-window-message">{{ 'accessibility.link_messages.new_window' | t }}</li>
    </ul>
  </body>
</html>
