{% comment %} {{ 'section-main-product.css' | asset_url | stylesheet_tag }} {% endcomment %}
{{ '3.builder.css' | asset_url | stylesheet_tag }}

<div class="builder builder--{{ section.settings.media_size }} builder--{{ section.settings.media_position }} product--{{ section.settings.gallery_layout }} builder--mobile-{{ section.settings.mobile_thumbnails }} grid grid--2">
  <div class="builder__media">
    <epigraph-configurator-lite id="epigraphConfiguratorLite" experience-id="yardsale-ski" disable-default-ui hidden>
      <span slot="splash-screen-text"></span>
    </epigraph-configurator-lite>
  </div>
  <div class="builder__info">
    <h1 class="h2">{{ collection.title }}</h1>

    <div class="builder__info__forms">
      <input type="radio" name="options" value="both" id="both" checked>
      <label class="button" for="both">Both</label>

      <div>
        {% render 'poles-builder-form', class: 'both' %}
      </div>

      <input type="radio" name="options" value="seperate" id="seperate">
      <label class="button" for="seperate">Seperate</label>

      <div class="builder__info__forms">
        <input type="radio" name="seperate" value="1st" id="1st" checked>
        <label class="button" for="1st">1st Pole</label>

        <div>
          {% render 'poles-builder-form', class: 'left' %}
        </div>

        <input type="radio" name="seperate" value="2nd" id="2nd">
        <label class="button" for="2nd">2nd Pole</label>

        <div>
          {% render 'poles-builder-form', class: 'right' %}
        </div>
      </div>
    </div>

    <hr>

    <form action="/cart/add" id="pole-builder" method="post">
      <input type="hidden" name="return_to" value="checkout">
      <button class="button--primary button--full_width" type="submit">Buy Now</button>
    </form>
  </div>
</div>

<script
  type="module"
  src="https://cdn.jsdelivr.net/npm/@epigraph/configurator-lite@1.3.0"
></script>

{% schema %}
{
  "name": "Poles builder",
  "settings": []
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
